
section.travel-cards-wrap.container
  +travelCard('../img/cards/1.jpg', 'от 118 112', '#','Италия', 'Под небом Тосканы',
  ['Сансеполькро', '(Перуджа)', 'Ассизи', 'Губбио', '(Сиена)', 'Ла Верна', 'Ангиари',
    'Монтерки', 'Ареццо', 'Кортона', '(Пиенца) - (Монтепульчано)'],
    {days: '8', nights: 7, language: 'Русский', date: '27.04.19 - 04.05.19', moreDate: 'и еще 15 дат'},
    'Авиаперелет включен!')
  +travelCard('../img/cards/2.jpg', '140 715', '#','Исландия', 'Майские каникулы в Исландии',
    ['Рейкьявик', 'Тингвеллир', 'Гюдльфосс', 'Скафтафедль', 'Сельяландсфосс', 'Скоугафосс',
      'Йёкюльсаурлоун', 'Голубая Лагуна', 'Снайфельсйёкутль', 'Arnarstapi', 'Рейкьявик'],
    {days: '8', nights: 7, language: 'Русский', date: '27.04.19 - 04.05.19'})
  +travelCard('../img/cards/3.jpg', '37 302', '#','Турция', 'Открытие Турции',
    ['Стамбул', 'Анкара', 'Каппадокия', 'Конья', 'Памуккале', 'Эфес', 'Кушадасы',
      'Пергам', 'Ассос', 'Троя', 'Стамбул'],
    {days: '8', nights: 7, language: 'Русский', date: '27.04.19 - 04.05.19', moreDate: 'и еще 3 даты'})
  +travelCard('../img/cards/4.jpg', '145 000', '#','Норвегия, Шпицберген', 'От Свальбарда до Груманта', '',
    {days: '8', nights: 7, language: 'Русский', date: '27.04.19 - 04.05.19', moreDate: 'и еще 15 дат'},
    'Гарантированный тур!')